<!--Navbar Started-->
<nav th:fragment="navbar" class="fixed top-0 z-20 w-full bg-white border-b border-gray-200 dark:bg-gray-900 start-0 dark:border-gray-600">

  <!--Logo-->
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img data-th-src="@{'/images/phone-call.png'}" class="h-8" alt="Flowbite Logo">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">QuickConnect</span>
    </a>

    <!--Login and Theme Button-->
    <div class="flex gap-2 space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
      <!-- <button  id="theme-toggle" type="button" class="px-4 py-2 text-sm font-medium text-center text-gray-700 bg-gray-200 rounded-lg hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:text-white dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-800">
        <i class="fa-solid fa-circle-half-stroke"></i> Dark
      </button> -->
      <a th:href="@{'/login'}" class="px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</a>
      <a th:href="@{'/register'}" class="px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign Up</a>

      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg> 
      </button>
    </div>

    <!--List of Buttons-->
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg md:p-0 bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

        <li>
          <a th:href="@{'/home'}" 
             th:classappend="${activePage=='home'} ? 'text-blue-600 font-semibold' : ''"
             class="block px-3 py-2 rounded-sm transition text-gray-900 dark:text-white hover:text-blue-600 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600">
            Home
          </a>
        </li>

        <li>
          <a th:href="@{'/about'}" 
             th:classappend="${activePage=='about'} ? 'text-blue-600 font-semibold' : ''"
             class="block px-3 py-2 rounded-sm transition text-gray-900 dark:text-white hover:text-blue-600 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600">
            About
          </a>
        </li>

        <li>
          <a th:href="@{'/services'}" 
             th:classappend="${activePage=='services'} ? 'text-blue-600 font-semibold' : ''"
             class="block px-3 py-2 rounded-sm transition text-gray-900 dark:text-white hover:text-blue-600 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600">
            Services
          </a>
        </li>

        <li>
          <a th:href="@{'/contact'}" 
             th:classappend="${activePage=='contact'} ? 'text-blue-600 font-semibold' : ''"
             class="block px-3 py-2 rounded-sm transition text-gray-900 dark:text-white hover:text-blue-600 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600">
            Contact
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!--Navbar Ended-->
