<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::parent(~{::title},~{::#content},~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>

<body>
    <div id="content">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="max-w-md mx-auto">
                    <!-- Card -->
                    <div
                        class="block bg-white border border-gray-200 rounded-lg shadow-sm  dark:bg-gray-800 dark:border-gray-700 p-4 cursor-default">


                        <!--Alert Message -->

                        <div th:replace="Message::messagebox"></div>






                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            SignUp Here
                        </h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            Start Managing Contacts on Cloud
                        </p>


                        <!--Form-->
                        <form th:action="@{'/do-register'}" method="post" th:object="${userform}" novalidate>

                            <!--Name-->
                            <div class="mb-5 mt-5">
                                <label for="email"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                    Name</label>
                                <input type="text" id="name" th:field="*{name}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Enter here" required />

                                <p data-th-if="${#fields.hasErrors('name')}" 
                                    data-th-errors="*{name}"
                                    class="text-red-400 text-sm pt-2 px-2">
                                    Name is required
                                </p>


                            </div>


                            <div class="mb-5">
                                <label for="email"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                    email</label>

                                <input type="email" id="email" th:field="*{email}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="name@flowbite.com" required />

                                     <p data-th-if="${#fields.hasErrors('email')}" 
                                    data-th-errors="*{email}"
                                    class="text-red-400 text-sm pt-2 px-2">
                                    
                                </p>
                            </div>

                            <!--Password-->
                            <div class="mb-5">
                                <label for="password"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                                    Password</label>

                                <input type="password" id="password" th:field="*{password}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required />

                                     <p data-th-if="${#fields.hasErrors('password')}" 
                                    data-th-errors="*{password}"
                                    class="text-red-400 text-sm pt-2 px-2">
                                    
                            </div>


                            <!--Phone NUmber-->
                            <div class="mb-5">
                                <label for="phone"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Number</label>

                                <input type="text" id="phone" th:field="*{phoneNumber}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required />

                                     <p data-th-if="${#fields.hasErrors('phoneNumber')}" 
                                    data-th-errors="*{phoneNumber}"
                                    class="text-red-400 text-sm pt-2 px-2">
                                    
                                </p>
                            </div>

                            <div class="mb-3">


                                <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Write Something About yourself</label>
                                <textarea id="about" rows="6" th:field="*{about}"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Write Here..."></textarea>
                            </div>


                            <!--Buttons -->
                            <div>
                                <div class="mb-3 flex justify-center space-x-3">

                                    <!--signup button-->
                                    <button type="submit"
                                        class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400">
                                        SignUp
                                    </button>

                                    <!-- Reset button -->
                                    <button type="reset"
                                        class="px-4 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500 dark:focus:ring-gray-400">
                                        Reset
                                    </button>
                                </div>

                            </div>


                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>consle.log("regioster page script");</script>
</body>

</html>